.thumbnail {
    width: 100%;
}
.thumbnail-row {
    margin-bottom: 10px;
    position: relative;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}

.video-title {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.profile-picture {
    width: 85%;
    border-radius: 30px;
}
.video-author {
    font-size: 12px;
    columns: rgb(96, 96, 96);
    margin-bottom: 4px;
}
.video-stats {
    font-size: 12px;
    columns: rgb(96, 96, 96);
}

.video-durations {
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    background-color: black;
    color: white;
    position: absolute;
    right: 5px;
    bottom: 10px;
    padding: 4px;
    border-radius: 2px;
}
